@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scroll-behavior: smooth;
  scroll-margin-top: -2rem;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
  background: white;
  width: 90%;
}
.z-1{
  z-index: 1;
}
.h-01{
  height: 10%;
}
.intro{
  position: fixed;
  z-index: 1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s;
}
.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: x-large;
}
.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation-wm::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-dm::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*
@keyframes halfspin {
  to {
      transform: rotate(180deg);
  }
}
*/
.animate-halfspin{
  transition: transform 300ms ease-in-out;
}
.animate-halfspin:hover {
  /*animation: halfspin 300ms linear both ;*/
  transform: rotate(180deg);
}
#body,#seeWorkBtn{
  transition: all 300ms linear;
}
#break{
  transition: all 300ms linear;
}
.fixed{
  position: fixed;
}
.border-black{
  border-color: black;
}
.bg-bg1 {
  background-image: url('./Assets/bg1.jpg');
}
.bg-bg1s {
  background-image: url('./Assets/bg1s.jpg');
}

/* Animation for the menu show/hide on mobile */
@media (max-width : 768px){
  .showUpAnimation{
    animation: popUp 500ms ease-in-out;
  }
  .hideUpAnimation{
    animation: hideUp 500ms ease-in-out;
  }
}
@keyframes popUp {
  0%{
    transform: translateX(100%);
    opacity: 0;
    filter :blur(4px)
  }
  100%{
    transform: translateX(0);
    opacity: 1;
    filter :blur(0px)
  }
}
@keyframes hideUp {
  0%{
    transform: translateX(0);
    opacity: 1;
    filter :blur(0px)
  }
  100%{
    transform: translateX(100%);
    opacity: 0;
    filter :blur(4px)
  }
}
/* End of animation*/

.inpError{
  border: solid 2px red;
}
.labelError{
  color : red;
}
.sucess{
  color: rgb(0, 189, 0);
}
.cursor{
  animation: blink 1s linear infinite;
}
@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.hid{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
.stack2{
  transition-delay: 400ms;
}
.stack3{
  transition-delay: 800ms;
}
.stack4{
  transition-delay: 1200ms;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
  }
  .gmap_iframe {
    height: 400px !important;
  }
  .poppins{
    font-family: Poppins, sans-serif;
  }
  .rubik{
    font-family: Rubik, sans-serif;
  }
  @media(prefers-reduced-motion){
    .hid{
      transition: none;
    }
  }